<form id="add-movie-form">
	<legend>New Movie</legend>
	<label for="title">Title</label>
	<input id="title" name="movie[title]" type="text">
	<label for="summary">Summary</label>
	<input id="summary" name="movie[summary]" type="text">
	<label for="img">Image</label>
	<input id="img" name="movie[img]" type="file" accept="image/*">
	
	<br/>
	<br/>
	
	<button type="submit" id="add-add" class="btn btn-primary">Create Movie</button>
	<button type="submit" id="add-cancel" class="btn">Cancel</button>
</form>